.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 128px;
    border-bottom: 1px solid var(--text);
    background-color: vaR(--bg-transparent);
    backdrop-filter: blur(16px);

    z-index: 999;

    position: fixed;
    left: 0;
    right: 0;

    >.logo {
        font-size: 16px;
        font-weight: 800;
    }
}

.back-top-btn {
    background: none;
    border: none;
    color: var(--text);
    font-weight: 800;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    padding: 4px 16px;
    border-radius: 32px;
    text-decoration: none;

    &:hover {
        background-color: var(--bg-transparent);
    }
}