#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main-content {
  flex: 1;
}

html {
  scroll-behavior: smooth;
}

.all-sections {
  padding: 128px;
  display: flex;
  flex-direction: column;
  gap: 128px;
}

@media only screen and (max-width: 1000px) {
  .all-sections {
    padding: 128px 64px;
  }
}
@media only screen and (max-width: 700px) {
  .all-sections {
    padding: 128px 8px;
  }
}
