#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main-content {
  flex: 1;
}

html {
  scroll-behavior: smooth;
}

.all-sections {
  padding: 128px;
  display: flex;
  flex-direction: column;
  gap: 128px;
}

.props-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.props-row {
  display: flex;
  gap: 16px;
}

.chips-example {
  display: flex;
  gap: 16px;
}

.vertical-divider {
  width: 4px;
  background-color: var(--card-stroke);
}

@media only screen and (max-width: 1000px) {
  .all-sections {
    padding: 128px 64px;
  }
}

@media only screen and (max-width: 700px) {
  .all-sections {
    padding: 128px 8px;
  }
}